* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5ec;
}


.title {
    width: 80%;
    background-color: pink;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    width: 80%;
    /*background-color: red;*/
    cursor: pointer;
}

.meme-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radio {
    display: none;
}

.radio:checked~label {
    background-color: green;
}

label {
    width: 100%;
    background-color: lightcyan;
    cursor: inherit;
}

.img {
    width: 10rem;
    height: 10rem;
    background-color: blue;
}