* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5ec;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.title {
    width: 80%;
    margin-top: 14px;
    font-size: 30px;
    font-weight: 900;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    width: 80%;
    cursor: pointer;
}

.meme {
    width: 100%;
}

.meme__radio {
    display: none;
}

.meme__radio:checked~.meme__img {
    display: block;
}

.meme__radio:checked~.meme__title {
    color: black;
}

.meme__radio:checked~.meme__icon {
    margin: 15px 0 0 8px;
    height: 12px;
    width: 12px;
    background-image: url("../images/cross.svg");
}

.meme__container {
    margin-top: 14px;
    width: 100%;
    display: grid;
    grid-template-columns: auto 20px;
    grid-template-rows: auto;
    gap: 0;
    cursor: inherit;
    border-top: 1.5px solid #dae0e4;
}

.meme__title {
    padding: 15px 0 2px;
    color: #0059d9;
    font-size: 17px;
    font-weight: 900;
}

.meme__icon {
    margin: 13px 0 0 6px;
    height: 15px;
    width: 15px;
    background-image: url("../images/plus.svg");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
}

.meme__img {
    display: none;
    margin: 0 auto;
    border: 1px solid #333333;
}

.container:hover .meme__icon {
    opacity: 1;
}

.container:hover .meme__title {
    color: black;
}